# This file is used to pin dependencies when running tests on travis/appveyor
configparser==3.5.0
enum34==1.1.6
flake8==3.7.9
pytest==6.0.1
parameterized==0.6.1
python-dateutil==2.7.3
pytz==2019.3
six==1.11.0
toolz==0.9.0
